/*NAV INFO*/

/*body {
    background-color:#AAAAA9;
}*/

nav {
    position: fixed;
    right: 90px;
    top: 0px;
    z-index: 2000;
}

nav li {
    display: inline-block;
    margin: 0;
    min-width: 33%;
    padding: 0;
    position: relative;
}

.nav-title {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: "SF New Republic", sans-serif;

    font-size: .8rem;
}


@media  (max-width: 400px) {
.nav-title   {
    left: 0;
     }
}

nav li ul {
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}



nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

nav li ul li {
    background-color: #DEDEDE;
    right: 80px;
    text-transform: uppercase;
    width: 500%;
}


@media  (max-width: 400px) {
nav li ul li   {
    width: 400%;
    left: 10px;
     }
}




nav a {
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}


@media  (max-width: 400px) {
    nav a  {
        position: relative;
        left: 80px;
        top: 10px;
     }
}




/*HEADER NAME*/

.banner {
    background-color: rgba(222,222,222,0.6);
    width: 100vw;
    height: 15vh;
    position: fixed;
    z-index: 1000;


}

.header-name {
    font-family: "SF New Republic", sans-serif;
    font-size: 15px;
    left: 0;
    letter-spacing: 0.2em;
    line-height: 100px;
    margin: 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

.header-title{
        font-family: "SF New Republic", sans-serif;
        font-size: 15px;
        left: 0;
        letter-spacing: 0.2em;
        line-height: 100px;
        margin: 0;
        position: fixed;
        text-align: center;
        text-transform: uppercase;
        top: 25px;
        width: 100%;
        z-index: 1000;

}



/*DOODLE BACKGROUND COLOR AND INFO*/

.art {
    /*background-color: #525066;*/
    background-color: #4C5364;

    height: 85vh;
}

@media  (max-width: 400px) {
    .art {
        height: 45vh;
    }
}


/*#4C5364*/



/*TERMINAL BACKGROUND COLOR*/

.work-color {
    height: 100vh;
}


/*TERMINAL*/


.code {
    background: #ccc;
    border-radius: 5px;
    color: #fafafa;
    font-family: 'Monaco', 'Courier New';
    font-size: 13px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 160px;
    padding-top: 15px;
    position: relative;
    text-align: left;
    top: 180px;
    width: 671px;
}

@media  (max-width: 400px) {
    .code  {
        width: 375px;
        margin: 2px -1px -1px 3px;
        height: 607px;
         }

}

.terminal {
    background: #383737;
    height: 565px;
    margin: 0 auto;
    padding: 22px 0px 0px 32px;
    width: 670px;
}


@media  (max-width: 400px) {
    .terminal  {
            width: 373px;
            margin: 2px 2px 2px 1px;
            height: 580px;
            padding: 21px 0px 0px 19px;
     }
}


.terminal-answers {
    color: #ccc;
}

.terminal-link {
    color: #3a92c8;
    text-decoration: none;
}





/*//RESUME*/




.resume {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
}

@media  (max-width: 400px) {
    .resume  {
            margin-top:0px;
     }
}

.resume-header {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "SF New Republic", sans-serif;

    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

@media  (max-width: 400px) {
    .resume-header  {
            text-align: left;
            margin: 2px 2px 2px 100px;
     }
}



/*WORK STUFF*/

p.about-hm {
    width: 80%;
    font-family: 'avenir', sans-serif;
    margin-bottom: 50px;
}

@media  (max-width: 400px) {
    p.about-hm  {
        width: 55%;
     }
}


/*RESUME LINK FOR EXPERIENCE LOCATION*/
.info-link {
    color: #525066;
}

.project-link {
    color: #525066;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}


/*WORK EXPERIENCE*/

p.work-name, p.work-position {
    font-family: 'avenir', sans-serif;
    margin: 0 auto;
}


/*EDUCATION*/

.education-tagline, .experience-tagline {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.date {
    float: right;
    font-family: 'avenir', sans-serif;
}

p.coursework-mgd, p.coursework-tiy {
    font-family: 'avenir', sans-serif;
}

ul.coursework-ul li {
    font-family: 'avenir', sans-serif;
}

ul.skills {
    display: inline-flex;
    font-family: 'avenir', sans-serif;
    justify-content: space-between;
    list-style-type: none;
    width: 490px;
}

@media  (max-width: 400px) {
    ul.skills  {
        position: relative;
        right: 36px;
        display: table;
     }
}





.skill li {
    text-align: center;
    width: 85px;
}

span.skill {
    border: 1px solid #50a9d1;
    border-radius: 8px;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.33333em;
    margin-right: 10px;
    margin-top: 0.8em;
    padding: 7px 18px;
    text-transform: uppercase;
    /*width: auto;*/
}

@media  (max-width: 400px) {
    span.skill  {
        padding: 7px 0px;
        font-size: 8px;

     }
}




p.mgd-degree, .school-name-1, .school-name-2, p.tiy-degree {
    font-family: 'avenir', sans-serif;
    margin: 0 auto;
}


/*IRON YARD RESUME PART*/

.school-name-2 {
    font-family: 'avenir', sans-serif;
    margin-top: 50px;
}


/*WORK AND FUN TITLE FOR THE PROJECTS*/

h1.project-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    top: 20px;
    position: relative;
    font-size: 2rem;
}


/*//home page work example grid*/

.container-top {
    display: flex;
}



/*PICTURE SLIDE BACKGROUND COLOR STYLE*/









/* NEXT & PREVIOUS BUTTONS */








/* CAPTION TEXT */

.text-pocket {
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
    margin-top: 50px;
    text-align: center;
}

.text {
    color: black;
    font-size: 1.3rem;
    bottom: 20px;
    width: 77%;
    margin: 0 auto;
    margin-left: 138px;
    margin-top: 50px;
    font-family: 'Avenir', sans-serif;
}

@media  (max-width: 400px) {
.text  {
    font-size: 1rem;
    }
}

.mySlides {
    display: none;
}

.active-slide {
    display: block;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}






/*twist*/

.hello {
    position: relative;
    top: 320px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: white;
    letter-spacing: .5px;
}

@media  (max-width: 400px) {
    .hello  {
    top: 180px;
    letter-spacing: .5px;

   }
}


.box {
    background-image: url(doodle-1.png);
    margin: 50px;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    width: 1442px;
    height: 545px;
    position: relative;
    top: -38px;
    left: -55px;
}

@media  (max-width: 400px) {
    .box  {
        background-image: none;
     }
}

.box:hover {
    -webkit-transform: scale(1.3);
    /*transform: scale(.9);*/
    /*zoom: .8;*/
}






#content {
    font-family: 'Futura', sans-serif;
}

/*NEW HOME PAGE BOTTOM BARS*/


span.mgd-grow:hover, span.design-grow:hover, span.dev-grow:hover {
    font-size: 4rem;
     transition: font-size 0.5s;
}

span.mgd-grow, span.design-grow, span.dev-grow {
    transition: font-size 0.5s;
    font-size: 2rem;
}


h1#motion-btn {
    /*background-color: rgba(220,222,236,0.4);*/
    font-family: "SF New Republic", sans-serif;
    cursor: pointer;
    color:#383737;
    /*height: 0vw;*/
    text-align: center;
    /*transition:height 0.5s;*/
    position: relative;
    top: 60px;

}



h1#design-btn {
    /*background-color:rgba(179,180,191,0.4);*/
    font-family: "SF New Republic", sans-serif;
    cursor: pointer;
    color:#383737;
    transition: font-size 0.5s;
    text-align: center;
    color: #444;
    font-size: 2rem;
    position: relative;
    top: 60px;
}




h1#dev-btn {
    /*background-color:rgba(179,180,191,0.4);*/
    font-family: "SF New Republic", sans-serif;
    cursor: pointer;
    color:#383737;
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: 60px;
}













/*MOTION*/

.clock-video {
    cursor: pointer;
}

video#bgvid {
    width: 350px;
}




 .container-img {
    width: 30%;
    /*margin: 2px 2px 2px 140px;*/
}

img#vh {
    position: relative;
    bottom: 34px;
}



.mgd-container-1, .mgd-container-2, .mgd-container-3, .mgd-container-4 {
  position: relative;
  width: 50%;
  display: inline;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
    position: absolute;
    bottom: 9px;
    left: 7px;
    height: 23vh;
    width: 23.5vw;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(220,222,236,0.6);
}

.mgd-container-1:hover .overlay, .mgd-container-2:hover .overlay, .mgd-container-3:hover .overlay, .mgd-container-4:hover .overlay {
  opacity: 1;
}




/*design overlay*/

.design-container-1 {
  position: relative;
  width: 50%;
  display: inline;
}

.design-container-1:hover .overlay-design {
    opacity:1;
}

.overlay-design {
        position: absolute;
        bottom: 2px;
        left: 5px;
        height: 24vh;
        width: 24vw;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(220,222,236,0.8);
}

.overlay-design-title {
    font-size: 2.5rem;
    font-family: "SF New Republic", sans-serif;
    margin: auto;
}


/*DEV OVERLAY*/



.dev-container-1, .dev-container-2 {
  position: relative;
  width: 50%;
  display: inline;
}

 .dev-container-1:hover .overlay-dev, .dev-container-2:hover .overlay-dev {
  opacity: 1;
}


.overlay-dev {
    position: absolute;
    bottom: 50px;
    left: 2px;
    height: 25vh;
    width: 29.4vw;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(220,222,236,0.8);
}

.overlay-dev-title {
    font-size: 2.5rem;
    font-family: "SF New Republic", sans-serif;
    margin: auto;
}




/*new*/

.text {
   color: black;
   position: absolute;
   bottom: 30%;
   width: 100%;
   text-align: center;
   -ms-transform: translate(-50%, -50%);
   margin: 0 auto;
}


.overlay-title {
    font-size: 2.5rem;
    font-family: "SF New Republic", sans-serif;
    margin: auto;
}

.overlay-link {
    font-family: 'Open Sans', sans-serif;
}


.mgd-link {
    font-family: "SF New Republic", sans-serif;
    text-decoration: none;
}

#soh {
    font-size: 2.5rem;
    font-family: "SF New Republic", sans-serif;
    margin: auto;
    line-height: 35px;
}


/*////MODAL*/

/* Z-index of #mask must lower than #boxes .window */
#mask {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:fixed;
    width:440px;
    height:200px;
    /*display:none;*/
    z-index:9999;
    /*padding:20px;*/
}




/*modal img*/

.slideshow-container {
    width: auto;
    height: auto;
    top: 50px;
    position: relative;
}



.container-img-modal {
    position: relative;
right: 270px;
bottom: 350px;
width: 65vw;
}

img.container-img-modal-water {
    position: relative;
right: 70px;
bottom: 350px;
width: 35vw;
}


.dots {
    text-align: center;
position: relative;
bottom: 330px;
margin: 0 auto;
}

p.modal-description{
    text-align: center;
position: relative;
bottom: 295px;
margin: 0 auto;
}

.modal-description {
    color: white;
    z-index: 1000;
}




a.close {
    font-size: 2rem;
font-weight: bolder;
text-decoration: none;
font-family: "SF New Republic", sans-serif;
color: white;
position: relative;
left: 770px;
bottom: 290px;
}
