/*NAV INFO*/

/*body {
    background-color:#AAAAA9;
}*/

nav {
    position: fixed;
    right: 90px;
    top: 0px;
    z-index: 2000;
}

nav li {
    display: inline-block;
    margin: 0;
    min-width: 33%;
    padding: 0;
    position: relative;
}

.nav-title {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

nav li ul {
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

nav li ul li {
    background-color: #fafafa;
    right: 80px;
    text-transform: uppercase;
    width: 500%;
}

nav a {
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}


/*HEADER NAME*/

.header-name {
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    left: 0;
    letter-spacing: 0.2em;
    line-height: 100px;
    margin: 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1000;
}



/*DOODLE BACKGROUND COLOR AND INFO*/

.art {
    background-color: #525066;
    height: 85vh;
}


/*TERMINAL BACKGROUND COLOR*/

.work-color {
    height: 100vh;
}


/*TERMINAL*/


.code {
    background: #ccc;
    border-radius: 5px;
    color: #fafafa;
    font-family: 'Monaco', 'Courier New';
    font-size: 13px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 160px;
    padding-top: 15px;
    position: relative;
    text-align: left;
    top: 90px;
    width: 671px;
}


.terminal {
    background: #383737;
    height: 565px;
    margin: 0 auto;
    padding: 22px 0px 0px 32px;
    width: 670px;
}

.terminal-answers {
    color: #ccc;
}

.terminal-link {
    color: #3a92c8;
    text-decoration: none;
}





/*//RESUME*/


/*.resume-color {
    background-color: #AAAAA9;
}*/


.resume {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
}

.resume-header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}


/*WORK STUFF*/

p.about-hm {
    width: 80%;
    font-family: 'avenir', sans-serif;
    margin-bottom: 50px;
}


/*RESUME LINK FOR EXPERIENCE LOCATION*/
.info-link {
    color: #525066;
}

.project-link {
    color: #525066;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}


/*WORK EXPERIENCE*/

p.work-name, p.work-position {
    font-family: 'avenir', sans-serif;
    margin: 0 auto;
}


/*EDUCATION*/

.education-tagline, .experience-tagline {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.date {
    float: right;
    font-family: 'avenir', sans-serif;
}

p.coursework-mgd, p.coursework-tiy {
    font-family: 'avenir', sans-serif;
}

ul.coursework-ul li {
    font-family: 'avenir', sans-serif;
}

ul.skills {
    display: inline-flex;
    font-family: 'avenir', sans-serif;
    justify-content: space-between;
    list-style-type: none;
    width: 490px;
}

.skill li {
    text-align: center;
    width: 85px;
}

span.skill {
    border: 1px solid #50a9d1;
    border-radius: 8px;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.33333em;
    margin-right: 10px;
    margin-top: 0.8em;
    padding: 7px 18px;
    text-transform: uppercase;
    /*width: auto;*/
}

p.mgd-degree, .school-name-1, .school-name-2, p.tiy-degree {
    font-family: 'avenir', sans-serif;
    margin: 0 auto;
}


/*IRON YARD RESUME PART*/

.school-name-2 {
    font-family: 'avenir', sans-serif;
    margin-top: 50px;
}





/*PICTURE SLIDES*/
.slideshow-container {
    margin: auto;
    margin-top: 100px;
    max-width: 1000px;
    position: relative;
}


.dots {
    margin-top: 30px
}



/* NEXT & PREVIOUS BUTTONS */

.prev, .next {
    border-radius: 0 3px 3px 0;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: -100px;
    padding: 16px;
    position: absolute;
    transition: 0.6s ease;
    top: 50%;
    width: auto;
}


/* POSITION THE "NEXT BUTTON" TO THE RIGHT */

.next {
    border-radius: 3px 0 0 3px;
    right: 0;

}


/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    /*background-color: #fafafa;
    color: #525066;*/
color: white;
    background-color: #525066;
}


/* CAPTION TEXT */

.text-pocket {
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
    margin-top: 50px;
    text-align: center;
}

.text {
    color: black;
    font-size: 18px;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Avenir', sans-serif;
}

.mySlides {
    display: none;
}

.active-slide {
    display: block;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*twist*/

.hello {
    position: relative;
    top: 320px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: white;
}

.box {
    background-image: url(doodle-2.png);
    margin: 50px;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    width: 1442px;
    height: 545px;
    position: relative;
    top: -38px;
    left: -55px;
}

.box:hover {
    -webkit-transform: scale(1.3);
    /*transform: scale(.9);*/
    /*zoom: .8;*/
}
